*{
    padding: 0px;
    margin: 0px;

}
body{
    background-color: rgb(255, 0, 0);
}

.contact{
    height: 50px;
    font-family: 'Varela Round',sans-serif;
    /* display: flex; */
    /* background-color: white; */
    color: rgb(0, 0, 0);
    /* width: 80%; */
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    font-size: 24px;
}

/* .bottom{
    position: sticky;
    height: 130px;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.introduction{
    min-height: 72vh;
    padding-top: 0px;
    margin-top: 0px;
    /* background-color: rgb(148, 59, 59); */
    font-family: 'Varela Round',sans-serif;

}

.about{
    font-family: 'Varela Round',sans-serif;
    padding: 5px;
    margin-top:10;
    background-color: rgb(255, 0, 0);
    color: rgb(0, 0, 0);
    height: 60px;
   
}

.button{
   margin-top: 117px;
}

.premium{
    font-family: 'Varela Round',sans-serif;
    
}